@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
    margin: 0;
}

html {
    font-family: "Montserrat";
    background: linear-gradient(to top, #093028, #237a57); 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

li {
    float: left;
    border-right: 1px solid #BBB;
    overflow: hidden;
}

li:last-child {
    border-right: none;
}

li:hover {
    background: #555;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 10px;
    text-decoration: none;
    width: 150px;
}

.notices {
    margin-top: 10px;
    width: 650px;
    height: 750px;
    border: 1px solid transparent;
    background: #E0E0E0;
    border-radius: 5px;
}

.searchFilter{
    margin: 10px;
    color: white;
}

/* Drop down button */
.dropbtn {
    background-color: #444444;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover and focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #AAAAAA;
}

/* <div> - needed to position the dropdown content*/
.dropdown {
    position: relative;
    display:inline-block;
}

/* dropdown content (hidden by default)*/
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Link inside the dropdown*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content{
    display:block;
}

.holder {
    background: white;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
    padding: 20px;
    width: 500px;
    height: 40px;
    margin-top: 10px;
}

.detail1 {
    border: 1px solid #AAA;
    padding: 10px;
    width: 300px;
    float: left;
}

.detail2 {
    border: 1px solid #AAA;
    padding: 10px;
    width: 150px;
    float: right;
}




















