@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	z-index: 100;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }

nav {
    position: sticky;
    height: 66px;
    background-color: white;
    box-shadow: 0 5px 5px -10px #333;
    z-index: 5;
    border-style: solid;
    border-width: 10px;
    border-color: #006f4a;
    border-right-color: transparent;
    border-bottom: 0px;
    top: 0;
}

#wrapper {
    width: 150px;
    display: inline-flex;
}

#tbox {
    margin: 0 auto;
    padding: 4px;
    background-color: transparent; 
    width: 180px;
    height: 56px;
    position: fixed;
    box-shadow: 0px 0px;
}

#title {
    font-family: "Montserrat";
    font-size: 13px;
    text-align: left;
    line-height: 95%;
    font-weight: 500;
    width: 45%;
    margin-top: 0px;
    color: #1f1f1f;
    position: relative;
}

#tbox:hover #title {
    color: #006f4a;
    font-weight: 500;
}

#arrow {
    height: 45px;
    margin: 2px;
}

#menu {
    height: 50px;
    background-color: transparent;
    box-shadow: 0px 0px;
    color: #006f4a;
    line-height: 385%;
    font-size: 13px;
    width: 140px;
}

a#menu.dropdown-button.btn {
    width: 135px;
    
}

#mb {
    float: left;
    margin-left: -20px;
    width: 25px;
    color: #006f4a;
    height: 50px;
    line-height: 215%;
}

a#menu.dropdown-button.btn:hover, a#menu.dropdown-button.btn:focus {
    background-color: #006f4a;
    color: snow;
    border-radius: 0px;
    box-shadow: 0 5px 5px -6px #333;
}

a#menu.dropdown-button.btn:focus #mb, a#menu.dropdown-button.btn:hover #mb {
    color: snow;
}

#drop {
    color: #006f4a;
    height: 50px;
    width: 50px;
    float: right;
    background-color: transparent;
    box-shadow: 0px 0px;
    border-radius: 0px;
}

#drop:hover, #drop:focus {
    background-color: #006f4a;
    color: snow;
    box-shadow: 0 5px 5px -6px #333;
}

#dc {
    position: relative;
    right: 15px;
    width: 30px;
    height: 50px;
    font-size: 30px;
    line-height: 155%;
}

#dp1, #dp2, #dp3 {
    display: none;
    margin-top: 50px;
    margin-left: 0px;
    background-color: #006f4a;
    box-shadow: 0 5px 5px -5px #333;
}

#dp2 {
    width: 135px;
    float: left;
}

nav ul a{
	width: 135px;
    padding-left: 10px;
    font-size: 10px;
    line-height: 275%;
    height: 30px;
}

nav ul a:hover {
	
     background-color: #01563a;
}

/* others below */

#newannounce, #updateAnnounce{
    width: 600px;
    height: 80%;
}

.annhead {
    background-color: #006f4a;
    color: snow;
    height: 30px;
    text-align: center;
    line-height: 200%;
}

.annwrap {
    margin: 0 auto;
    width: 550px;
    padding: 10px;
    height: 90%;
}

#createPostForm{
	height: 90%;
}

.ltags {
    font-size: 13px;
    color: #006f4a;
    font-weight: 500;
}

#anntitle, #annbody, #updateTitle, #updateBody{
    width: 97.5%;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    padding-left: 3px;
    font-size: 12px;
}

#anntitle, #updateTitle{
	height: 7.5%;
}

#annbody, #updateBody {
    height: 70%; 
    overflow-wrap: break-word; 
}

#ANpost, #ANupdate {
    margin-top: -15px;
    background-color: #006f4a;
    color: snow;
    line-height: 250%;
    height: 30px;
    float: right;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 5px 5px -6px #333;
    border-style: solid;
    border-width: 0.6px;
    border-radius: 2px;
    border-color: dimgrey;
    
}

#searchbar {
    position: relative;
    width: 220px;
    height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 5px;    
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #005c3d;
    border-radius: 3px;
    font-size: 11px;
    box-shadow: 0 5px 5px -7px #333;
    background-color: white;
    float: left;
    opacity: 1;
}

#magglass {
    margin: 5px;
    margin-top: 6px;
    color: snow;
    float: right;   
}

#postFeed, #searchFeed{
    position: relative;
    margin: 0 auto;
    margin-top:90px;
    width: 750px;
}

.postContainer{
	border: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
}

.pchead{
	margin-top: 0;
    background-color: #006f4a;
}

.postTitle{
	display: inline-block;
	padding-left:2%;
    font-size: 15px;
    color: snow;
    margin-bottom: 2px;
}

.postBody{
	padding-left: 4%;
	font-size   : 12.5px;
}

.postDate{
	color: #afafaf;
	font-size: 12px;
	font-style: italic;
	margin-top:2px;
	padding-bottom: 4px;
	margin-left: 2%;
}

.editbtn {
	color: snow;
	font-size: 15px;
	float: right;
	margin-right: 2%;
	margin-top: 2%;
}

#searchIcon {
    color: #006f4a;
    height: 50px;
    width: 50px;
    float: right;
    background-color: transparent;
    box-shadow: 0px 0px;
    border-radius: 0px;
}

#searchIcon:hover {
    background-color: #006f4a;
    color: snow;
    box-shadow: 0 5px 5px -6px #333;
}

#sb {
    position: relative;
    right: 15px;
    width: 30px;
    height: 50px;
    font-size: 30px;
    line-height: 155%;
}

#searchDiv{
    position: relative;
    margin: 0 auto;
    height: 44px;
}

#searchResultFeed {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    width: 750px;
    border: 0px solid none;
    border-radius: 3px;
}

#sId {
    width: 100px;
}

#sCollege {
    width: 70px;
}

#sCourse {
    width 90px;
}

#sName {
    width: 400px;
}

/*This changes the text color of the select options.*/
ul.dropdown-content.select-dropdown li span {
	font-size: 11px;
    color: #1f1f1f;
    font-family: "Montserrat";
}

/*This changes the FIRST option of the select (its disabled, so it should be gray)*/
ul.dropdown-content.select-dropdown li.disabled span {
	font-size: 11px;
    color: #888888; 
    font-family: "Montserrat";
}

/*This is for the select tag size customization.*/
div.input-field {
	width: 95%;
    margin-top: -10px;
    margin-left: 4px;
    margin-bottom: -19px;
    text-overflow: clip;
}

.select-wrapper input.select-dropdown {
    height: 20px;
    width: 100px;
    font-size: 11px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    opacity: 0.9;
    padding-left: 2px;
    
}

#dropAward {
    margin: auto;
    float: left;
    width: 80px;
}

#dropCollege {
    margin: auto;
    float: left;
    width: 85px;
    margin-left: 30px;
}

#searcher {
    padding-top: 50px;
    margin: 0 auto;
    position: relative;
    width: 600px;
    height: 100px;
    border: 1px solid none;
}

#searchResultInfo {
    font-size: 15px;
    position: relative;
    margin: auto;
    width: 750px;
    margin-top: 60px;
    height: 50px;
    border: 1px solid transparent;
}

#searchHeader {
    background: #006f4a;
    color: white;
}

#tableHeader {
    background: #006f4a;
    height: 45px;
    margin: auto;
}

#tableDetails {
    height: 20px;
}

.tableIdNum {
    width: 120px;
}

.tableName {
    width: 400px;
}

.tableCollege {
    width: 50px;
}

.tableAward {
    width: 100px;
}

#filterContainer {
    margin: auto;
    border: 1px solid none;
    margin-top: 30px;
    position: relative;
    width: 550px;
    float:left;
    margin-left: 10px;
}

