@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }

nav {
    position: fixed;
    height: 66px;
    background-color: white;
    box-shadow: 0 5px 5px -10px #333;
    z-index: 5;
    border-style: solid;
    border-width: 10px;
    border-color: #006f4a;
    border-bottom: 0px;
}

#wrapper {
    width: 150px;
    display: inline-flex;
}

#tbox {
    margin: 0 auto;
    padding: 4px;
    background-color: transparent; 
    width: 180px;
    height: 56px;
    position: fixed;
    box-shadow: 0px 0px;
}

#title {
    font-family: "Montserrat";
    font-size: 13px;
    text-align: left;
    line-height: 95%;
    font-weight: 500;
    width: 45%;
    margin-top: 0px;
    color: #1f1f1f;
}

#tbox:hover #title {
    color: #006f4a;
    font-weight: 500;
}

#arrow {
    height: 45px;
    margin: 2px;
}

#menu {
    height: 50px;
    background-color: transparent;
    box-shadow: 0px 0px;
    color: #006f4a;
    line-height: 385%;
    font-size: 13px;
    width: 100px;
}

a#menu.dropdown-button.btn {
    width: 130px;
    
}

#mb {
    float: left;
    margin-left: -20px;
    width: 25px;
    color: #006f4a;
    height: 50px;
    line-height: 215%;
}

a#menu.dropdown-button.btn:hover {
    background-color: #006f4a;
    color: snow;
    border-radius: 0px;
    box-shadow: 0 5px 5px -6px #333;
}

a#menu.dropdown-button.btn:hover #mb {
    color: snow;
}

#drop {
    color: #006f4a;
    height: 50px;
    width: 50px;
    float: right;
    background-color: transparent;
    box-shadow: 0px 0px;
    border-radius: 0px;
}

#drop:hover {
    background-color: #006f4a;
    color: snow;
    box-shadow: 0 5px 5px -6px #333;
}

#dc {
    position: relative;
    right: 15px;
    width: 30px;
    height: 50px;
    font-size: 30px;
    line-height: 155%;
}

#dp1, #dp2 {
    display: none;
    margin-top: 50px;
    margin-left: 0px;
    background-color: #006f4a;
    box-shadow: 0 5px 5px -5px #333;
}

#dp2 {
    width: 130px;
    float: left;
}

nav ul a{
    width: 130px;
    padding-left: 10px;
    font-size: 10px;
    line-height: 275%;
    height: 30px;
}

nav ul a:hover {
     background-color: #01563a;
}

/* others below */

#newannounce {
    width: 600px;
}

#annhead {
    background-color: #006f4a;
    color: snow;
    height: 30px;
    text-align: center;
    line-height: 200%;
}

#annwrap {
    margin: 0 auto;
    width: 550px;
    padding: 10px;
}

.ltags {
    font-size: 13px;
    color: #006f4a;
    font-weight: 500;
}

#anntitle, #anndesc {
    width: 350px;
    height: 25px;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    padding-left: 3px;
    font-size: 12px;
}

#anndesc {
    width: 500px;
    height: 80px; 
}

#ANpost {
    margin-top: -15px;
    background-color: #006f4a;
    color: snow;
    line-height: 250%;
    height: 30px;
    padding: 0 25px;
    float: right;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 5px 5px -6px #333;
    border-style: solid;
    border-width: 0.6px;
    border-radius: 2px;
    border-color: dimgrey;
    
}

#searchdiv {
    background-color: #006f4a;
    width: 275px;
    float: right;
    height: 40px;
    display: inline-flex;
    border-bottom-left-radius: 2px;
    box-shadow: 0 5px 5px -6px #333;
}

#searchbar {
    position: relative;
    width: 220px;
    height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 5px;    
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #005c3d;
    border-radius: 3px;
    font-size: 11px;
    box-shadow: 0 5px 5px -7px #333;
    background-color: white;
    float: left;
    opacity: 1;
}

#magglass {
    margin: 5px;
    margin-top: 6px;
    color: snow;
    float: right;   
}