@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

body {
    margin: 0;
}

html {
    font-family: "Montserrat";
    background: linear-gradient(to top, #093028, #237a57); 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

li {
    float: left;
    border-right: 1px solid #BBB;
    overflow: hidden;
}

li:last-child {
    border-right: none;
}

li:hover {
    background: #555;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 10px;
    text-decoration: none;
    width: 150px;
}

li.dropdown {
    display: inline-block;
}

.notices {
    margin-top: 10px;
    width: 650px;
    height: 750px;
    border: 1px solid transparent;
    background: #E0E0E0;
    border-radius: 5px;
}
