@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }

#logindiv {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 100%;   
    width: 500px;   
}

#wrapper {
    display: inline-flex;
    margin-top: 17%;
    padding: 10px;
    width: 365px;
}

#title {
    font-family: "Montserrat";
    font-size: 30px;
    text-align: left;
    line-height: 90%;
    font-weight: 500;
    width: 60%;
    margin-top: 4px;
    margin-left: 2px;
    text-shadow: 0 5px 5px -4px #333;
}

#arrow {
    margin-top: 1px;
    height: 110px;
}

form {
    margin: 0 auto;
    margin-top: -10px;
    width: 275px;
    font-size: 10px;
}


#loginb {
    font-family: "Montserrat";
    height: 25px;
    width: 270px;
    margin-top: 5px;
    border-radius: 2px;
    font-size: 10.5px;
    line-height: 270%;
    font-weight: 400;
    background-color: #1f1f1f;
    color: snow;
    transition: all .3s ease-out;
}

#loginb:hover {
    background-color: black;
    transform: translate(0px, 3px);
}

#forgotpw, #signupb {
    position: relative;
    top: 20px;
    font-size: 11px;
    font-weight: 500;
    color: #006f4a;
    margin: 0 15px;
}

#forgotpw:hover, #signupb:hover {
    color: #1f1f1f;
}

#inv, #dnm {
    display: none;
    font-size: 10px;
    color: indianred;
    font-style: italic;
}

