@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

body {
    text-align: center;
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 10px;
		}
		#top { top: 0; }

#wrapper {
    margin: 0 auto;
    margin-top: 45px;
    display: inline-flex;
    padding: 5px;
    width: 225px;
    height: 90px;
}

#title {
    font-family: "Montserrat";
    font-size: 20px;
    text-align: left;
    line-height: 90%;
    font-weight: 500;
    width: 40%;
    margin-top: 4px;
    margin-left: 2px;
    text-shadow: 0 5px 5px -4px #333;
}

#arrow {
    margin-top: 7px;
    height: 65px;
}

/* others below */

li {
    margin: 5 auto;
    list-style: none;
    width: 20%;
}

h1 {
    font-weight: 600;
    font-size: 23px;
}

p {
    margin-top: -22px;
    font-weight: 300;
    font-size: 12px;
}

#changepwfeed {
    margin: 20 auto;
    height: 50%;
    width: 35%;
    padding: 10px;
    border-radius: 2px;
    text-align: center;  
}

.ltags {
    color: #006f4a;
    font-size: 12px;
    font-weight: 500;
}

#RPemail{
    margin-top: -10px;
    width: 330px;
    height: 20px;
    color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

#Confirm, #btnBack {
    background-color: lightgrey;
    line-height: 220%;
    color: #1f1f1f;
    height: 25px;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 5px 5px -6px #333;
    border-style: solid;
    border-width: 0.6px;
    border-radius: 2px;
    border-color: dimgrey;
}