@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }

nav {
    position: fixed;
    height: 66px;
    background-color: white;
    box-shadow: 0 5px 5px -10px #333;
    z-index: 5;
    border-style: solid;
    border-width: 10px;
    border-color: #006f4a;
    border-bottom: 0px;
    
}

#wrapper {
    width: 150px;
    display: inline-flex;
}

#tbox {
    margin: 0 auto;
    padding: 4px;
    background-color: transparent; 
    width: 180px;
    height: 56px;
    position: fixed;
    box-shadow: 0px 0px;
}

#title {
    font-family: "Montserrat";
    font-size: 13px;
    text-align: left;
    line-height: 95%;
    font-weight: 500;
    width: 45%;
    margin-top: 0px;
    color: #1f1f1f;
}

#tbox:hover #title {
    color: #006f4a;
    font-weight: 500;
}

#arrow {
    height: 45px;
    margin: 2px;
}

/* others below */

#changepwfeed {
    position: relative;
    top: 100px;
    margin: 0 auto;
    height: 400px auto;
    width: 400px;
    background-color: rgba(241, 241, 241, 0.7);
    box-shadow: 0 5px 5px -5px #333;
}

#btnResetPassword {
    font-family: "Montserrat";
    height: 25px;
    width: 140px;
    margin-top: 5px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 270%;
    font-weight: 400;
    background-color: #1f1f1f;
    color: snow;
}

#btnResetPassword:hover {
	opacity: 0.9;
}

#error1, #error2 {
    display: none;
    font-size: 10px;
    color: indianred;
    font-style: italic;
}

.ltags {
    color: #006f4a;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
}

#nPassword, #nPasswordConfirm{
    width: 330px;
    height: 20px;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    padding-left: 3px;
    font-size: 12px;
}

#ResetPassword {
    margin-top: -15px;
    background-color: lightgrey;
    line-height: 220%;
    color: #1f1f1f;
    height: 25px;
    padding: 0 15px;
    float: right;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 5px 5px -6px #333;
    border-style: solid;
    border-width: 0.6px;
    border-radius: 2px;
    border-color: dimgrey;
    margin-right: 30%;
}