@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }

#pulse {
    background-color: #006f4a; 
    height: 70px;
    width: 180px;
    position: fixed;
    margin-left: 10px;
    margin-top: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-style: solid;
    border-width: 2px;
    border-left: 0px;
    border-color: #006f4a;
}

#pulse:hover {
    background-color: white;
    border-color: #1e1e1e;
    border-style: solid;
    border-width: 2px;
    border-left: 0px;
}

#wrapper {
    display: inline-flex;
    padding: 4px;
    width: 150px;
}

#title {
    font-family: "Montserrat";
    font-size: 15px;
    text-align: left;
    line-height: 95%;
    font-weight: 400;
    width: 60%;
    margin-left: -2px;
    color: white;
}

#pulse:hover #title {
    color: #1e1e1e;
    font-weight: 500;
}

#arrow {
    font-size: 60px;
    margin-left: -5px;
    color: #1e1e1e;
}

#pulse:hover #arrow {
    color: #006f4a;
}

#sufeed {
    margin: 0 auto;
    position: fixed;
    top: 15%;
    left: 36%;
    text-align: left;
    width: 400px;
    padding-top: 20px;
    padding-left: 40px;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, 1);
    box-shadow: 0 5px 5px -5px #333;
}

#lastName, #firstName, #middleName, #password, #password2, #email {
    width: 300px;
    height: 23px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 4px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;

}

#idNum {
    width: 147px;
    height: 23px;
    margin-bottom: 5px;
    margin-left: 4px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}

p {
    width: 150px;
    font-size: 12px;
    padding: 0px;
    margin-top: 1px;
    font-weight: 500;
    color: snow;
    color: black;
}

#signupb, #backb {
    position: relative;
    font-family: "Montserrat";
    height: 26px;
    width: 100px;
    font-size: 10px;
    line-height: 250%;
    background-color: #1f1f1f;
    color: snow;
    border-style: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 15%;
    box-shadow: 0 5px 5px -3.5px #333;
}

#modal1 {
    height: 25%;
}

#modver {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

