@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }

nav {
    position: fixed;
    height: 66px;
    background-color: white;
    box-shadow: 0 5px 5px -10px #333;
    z-index: 5;
    border-style: solid;
    border-width: 10px;
    border-color: #006f4a;
    border-bottom: 0px;
    
}

#wrapper {
    width: 150px;
    display: inline-flex;
}

#tbox {
    margin: 0 auto;
    padding: 4px;
    background-color: transparent; 
    width: 180px;
    height: 56px;
    position: fixed;
    box-shadow: 0px 0px;
}

#title {
    font-family: "Montserrat";
    font-size: 13px;
    text-align: left;
    line-height: 95%;
    font-weight: 500;
    width: 45%;
    margin-top: 0px;
    color: #1f1f1f;
}

#tbox:hover #title {
    color: #006f4a;
    font-weight: 500;
}

#arrow {
    height: 45px;
    margin: 2px;
}

/* others below */

#sufeed {
    position: relative;
    margin: 0 auto;
    text-align: left;
    top: 75px;
    width: 400px;
    padding-top: 40px;
    padding-left: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    border-color: snow;
    background-color: rgba(241, 241, 241, 0.7);
    box-shadow: 0 5px 5px -5px #333;
}

#lastName, #firstName, #middleName, #password, #password2, #email, #idNum, #courseName {
    width: 300px;
    height: 20px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 4px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    font-size: 11px;
    padding-left: 2px;
}

#idNum, #courseName {
    width: 147px;
}

#courseName {
    position: relative;
    top: -10px;
}


p {
    width: 150px;
    font-size: 11px;
    padding: 0px;
    margin-top: 1px;
    margin-bottom: 1.5px;
    font-weight: 500;
    color: #006f4a;
}

#signupb, #backb {
    position: relative;
    font-family: "Montserrat";
    height: 26px;
    width: 100px;
    font-size: 10px;
    line-height: 250%;
    background-color: #1f1f1f;
    color: snow;
    border-style: none;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 10px;
    left: 15%;
    box-shadow: 0 5px 5px -3.5px #333;
}

#signupb:hover, #backb:hover {
	background-color: black;
}

#modal1 {
    height: 25%;
}

#modver {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

/*This changes the text color of the select options.*/
ul.dropdown-content.select-dropdown li span {
	font-size: 11px;
    color: #1f1f1f;
    font-family: "Montserrat";
}

/*This changes the FIRST option of the select (its disabled, so it should be gray)*/
ul.dropdown-content.select-dropdown li.disabled span {
	font-size: 11px;
    color: #888888; 
    font-family: "Montserrat";
 
}

/*This is for the select tag size customization.*/
div.input-field {
	width: 300px;
	height: 43px;
    margin-top: -8px;
    margin-left: 4px;
    margin-bottom: -16px;
}

.select-wrapper input.select-dropdown {
    height: 20px;
    width: 100%;
    font-size: 11px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    padding-left: 2px;
    
}


#idError1, #idError2, #idError3, #lastNameError, #firstNameError, #middleNameError, #courseError, 
#emailError, #passwordError1, #passwordError2, #idErrorMain1, #passwordErrorMain1, #firstNameErrorMain, 
#lastNameErrorMain, #middleNameErrorMain, #courseErrorMain  {
    display: none;
    color: indianred;
    font-size: 10px;
}