@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
 
html {
    font-family: "Montserrat";
}

#top, #bottom, #left, #right {
	background: #006f4a;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 10px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top{
		left: 0; right: 0;
		height: 0px;
		}
		#top { top: 0; }

nav {
    position: fixed;
    margin-top: -10px;
    height: 66px;
    background-color: white;
    box-shadow: 0px 0px;
    z-index: 5;
    border-style: solid;
    border-width: 10px;
    border-color: #006f4a;
    border-bottom: 0px;
    
}

#wrapper {
    width: 100%;
    display: inline-flex;
}

#tbox {
    margin: 0 auto;
    padding: 4px;
    background-color: transparent; 
    width: 155px;
    height: 56px;
    position: fixed;
    box-shadow: 0px 0px;
}

#title {
    font-family: "Montserrat";
    font-size: 13px;
    text-align: left;
    line-height: 95%;
    font-weight: 500;
    width: 45%;
    margin-top: 0px;
    color: #1f1f1f;
}

#tbox:hover #title {
    color: #006f4a;
    font-weight: 500;
}

#arrow {
    height: 45px;
    margin: 2px;
}

#menu {
    height: 50px;
    background-color: transparent;
    box-shadow: 0px 0px;
    color: #006f4a;
    line-height: 385%;
    font-size: 13px;
    width: 130px;
}

a#menu.dropdown-button.btn {
    width: 130px;  
}

#mb {
    float: left;
    margin-left: -20px;
    width: 25px;
    color: #006f4a;
    height: 50px;
    line-height: 215%;
}

a#menu.dropdown-button.btn:hover {
    background-color: #006f4a;
    color: snow;
    border-radius: 0px;
    box-shadow: 0 5px 5px -6px #333;
}

a#menu.dropdown-button.btn:hover #mb {
    color: snow;
}

#drop, #notif {
    color: #006f4a;
    height: 50px;
    width: 50px;
    float: right;
    background-color: transparent;
    box-shadow: 0px 0px;
    border-radius: 0px;
    cursor: pointer;
}

#notif {
	width: 50px;
}

#drop:hover, #notif:hover {
    background-color: #006f4a;
    color: snow;
    box-shadow: 0 5px 5px -6px #333;
}

#dc {
    position: relative;
    right: 15px;
    width: 30px;
    height: 50px;
    font-size: 30px;
    line-height: 155%;
}

#nc {
    padding-left: 10px;
    width: 30px;
    height: 50px;
    font-size: 30px;
    line-height: 155%;  
}

#dp1, #dp2 {
    display: none;
    margin-top: 50px;
    margin-left: 0px;
    background-color: #006f4a;
    box-shadow: 0 5px 5px -5px #333;
}

#dp2 {
    width: 130px;
    float: left;
}

#dp3 {
    display: none;
    float: right;
    margin-right: -110px;
    width: 200px;
    margin-top: 50px;
    background-color: #006f4a; 
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 5px 5px -5px #333;
}

#ann, nav ul a{
    width: 130px;
    padding-left: 10px;
    font-size: 11px;
    line-height: 260%;
    height: 30px;
}

#ann {
    width: 200px;
}

nav ul a:hover {
     background-color: #01563a;
}

/* others below */

#profilefeed {
    position: relative;
    margin: 0 auto;
    top: 90px;
    width: 55%;
    min-width: 275px; /* add */
}

.collapsible-header {
    background-color: #006f4a;
    color: snow;
    font-weight: 300;
    font-size: 11px;
    line-height: 300%;
    min-height: 1rem;
}

.collapsible-header i {
    font-size: 21.5px;
    line-height: 150%;
}

#PIedit, #PIsave, #PIcancel, 
#FBedit, #FBsave, #FBcancel, 
#IIedit, #IIsave, #IIcancel, 
#EIedit, #EIsave, #EIcancel, 
#addSibling, #imInternal, #imExternal {
    margin-top: -15px;
    background-color: lightgrey;
    color: #1f1f1f;
    line-height: 180%;
    height: 20px;
    padding: 0 15px;
    float: right;
    font-size: 11px;
    font-weight: 500;
    box-shadow: 0 5px 5px -6px #333;
    border-style: solid;
    border-width: 0.6px;
    border-radius: 2px;
    border-color: dimgrey;
}

#PIsave, #FBsave, #IIsave, #EIsave, 
#PIcancel, #FBcancel, #IIcancel, #EIcancel, 
#addSibling, #imInternal, #imExternal {
    display: none;
    margin-right: 5px;
}

.wrap {
    width: 100%;
    display: inline-flex;
    margin-top: -10px;
}

.f {
    margin-left: 3px;
    width: 100%; 
}

.ltags {
    color: #006f4a;
    font-size: 12px;
    font-weight: 500;
}

#stname {
    width: 60%;
    color: #006f4a;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: -5px;
}

.profow {
    color: #1f1f1f;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -10px;
    margin-left: 10px;
}

form#PIform input.ipfield[disabled], 
form#FBform input.ipfield[disabled], 
form#intInv input.ipfield[disabled],
form#extInv input.ipfield[disabled]{
    border-color: transparent;  
}

form#PIform input.fullip, form#PIform input.halfip {
    width: 100%;
    height: 20px;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    padding-left: 3px;
    font-size: 12px;
}

form#PIform input.halfip {
    width: 95%;
}

form#PIform input.threeip, 
form#FBform input.threeip,
form#intInv input.threeip,
form#extInv input.threeip{
    width: 95%;
    height: 20px;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    padding-left: 3px;
    font-size: 12px; 
}

form#intInv input.threeip,
form#extInv input.threeip {
    width: 270px;
    margin-top: 0px;
}

form#extInv input.threeipyear, 
form#intInv input.threeipyear {
    width: 90px;
    height: 20px;
    color: black;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    padding-left: 3px;
    font-size: 12px;
}

.iSpan{
    margin-left: 5px;
    font-size: 8px;
    color: indianred;
    font-style: italic;
}

#span{
	display:none;
}

#specialAge {
	width: 95%;
    height: 20px;
    color: black;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    padding-left: 3px;
    font-size: 12px; 
    border-color: transparent;  
}
#printBtn{
	margin-top: -15px;
    background-color: #006f4a;
    color: #fff;
    line-height: 180%;
    height: 30px;
    //padding: 0 20px;
    float: right;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 5px 5px -6px #333;
    border-style: solid;
    border-width: 0.6px;
    border-radius: 2px;
    border-color: dimgrey;
}

.material-tooltip {
    font-size: 10px;
 	height: 20px;
}

#pAccumulation {
    float: left;
    width: 90px;
}

#iAccumulation {
    color: darkslategray;
    float: left;
    font-size: 12px;
    cursor: help;
    position: relative;
    margin-top: 15px
}

#iInternalInvolvements {
    color: darkslategray;
    float: left;
    font-size: 12px;
    cursor: help;
    position: relative;
    margin-top: -10px
}

#IIinfo {
    width: 75px;
    float: right;
}

#iExternalInvolvements {
    color: darkslategray;
    float: left;
    font-size: 12px;
    cursor: help;
    position: relative;
    margin-top: -10px
}

#EIinfo {
    width: 75px;
    float: right;
}